<div class="container">

    <div class="row">
        <div class="col-12">
            <h2 class="text-center">DetalleAerolinea</h2>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>Nombre: </b><span>{{datosAerolinea.name}}</span></li>
                    <li class="list-group-item"><b>IATA: </b><span>{{datosAerolinea.iata}}</span></li>
                    <li class="list-group-item"><b>Estatus: </b><span>{{datosAerolinea.estatus}}</span></li>
                    <li class="list-group-item"><b>Pais: </b><span>{{datosAerolinea.country}}</span></li>
                </ul>
            </div>
        </div>

    </div>
</div>
